Footer{
    margin-top: 40px;
    background-color: rgb(12, 11, 11);
    width: 100%;
    height: 60px;

 display: flex;
 align-items: center;
 justify-content: center;

 font-family: 'Lobster', cursive;
 color: white;
 font-size: 30px;
}