@keyframes morph{
    0%, 5%, 100%{
        filter: blur(0px);
        opacity: 1;
    }
    20%, 80%{
        filter: blur(35px);
        opacity: 0;
    }
}

@keyframes blured {
    from{
        filter:blur(50px)
    } to{
        filter: blur(0);
    }
}