@charset "UTF-8" ;

body {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgba(3, 158, 219, 0.486));
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    box-shadow: 5px 20px 10px rgba(0,0,0,.212);
    font-family: Arial, Helvetica, sans-serif;
    
}

.container1 {
    
    color:white;
    padding: 1rem;
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.container1 > h1:hover {
    color: rgb(17, 0, 255);
    }

    .container1 > h2:hover {
        color: rgb(17, 0, 255);
        }
    
.container2 {
    padding: 1rem;
    height: 95%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 245);
}

#imagem1 {
    width: 300px;
    
}

.formulario {
    background-color: rgba(255, 255, 255, 0);
}

.headerform {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    color:white;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
     border: none;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    padding: 0.6rem 2rem;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 25px;
}

.login:hover {
        background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

.headerform h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    border-radius: 10px;
}

.inputuser {
    background: none; /*Retirando o fundo do input*/
    border: none;
    border-bottom: 1px solid;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelinput{
 
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

fieldset {
    border-radius: 15px;
    border:2px solid blue;  /* Linha ao redor da caixa */
    /* border-radius: 3px; */
}

.caixainput {
    position: relative;
    
}

.labelinput{
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputuser:focus ~ .labelinput, .inputuser:valid ~ .labelinput {
            top: -20px;
            font-size: 12px;
            color: blue;
}

legend{
    border: none;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    border-radius: 20px;
    color: white;
}

#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

#blocodata{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}